[toolchain]
anchor_version = "0.32.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
gatherfi = "6M995chq6GY891Zyjvg9ZVASutZ9rMDAeXqDzxszHcCJ"

[programs.localnet]
gatherfi = "E31mecmt7WbRrRgSWDChV31D7tENN2WDKLnTuagWjJyu"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""

[hooks]
